<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
    Name="WinKnight Suite" 
    Version="1.0.0.0" 
    Manufacturer="YourCompany"
    UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    
    <!-- Installation directory -->
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="WinKnight">
        <Directory Id="ToolsFolder" Name="Tools" />
        <Directory Id="AssetsFolder" Name="Assets" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="WinKnight Suite"/>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <!-- Main Executable -->
    <Component Id="MainExe" Directory="INSTALLFOLDER" Guid="A1B2C3D4-1111-1111-1111-111111111111">
      <File Id="WinKnightUIExe" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\WinKnightUI.exe" 
            KeyPath="yes" />
      
      <!-- Start Menu Shortcut -->
      <Shortcut Id="StartMenuShortcut"
                Directory="ApplicationProgramsFolder"
                Name="WinKnight"
                Target="[INSTALLFOLDER]WinKnightUI.exe"
                WorkingDirectory="INSTALLFOLDER" />
      
      <!-- Desktop Shortcut -->
      <Shortcut Id="DesktopShortcut"
                Directory="DesktopFolder"
                Name="WinKnight"
                Target="[INSTALLFOLDER]WinKnightUI.exe"
                WorkingDirectory="INSTALLFOLDER" />
      
      <RemoveFolder Id="RemoveApplicationProgramsFolder" 
                    Directory="ApplicationProgramsFolder" 
                    On="uninstall"/>
    </Component>

    <!-- Main DLL -->
    <Component Id="MainDll" Directory="INSTALLFOLDER" Guid="A1B2C3D4-2222-2222-2222-222222222222">
      <File Id="WinKnightUIDll" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\WinKnightUI.dll" />
    </Component>

    <!-- System.Management.dll -->
    <Component Id="SystemManagementDll" Directory="INSTALLFOLDER" Guid="A1B2C3D4-3333-3333-3333-333333333333">
      <File Id="SystemManagement" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\System.Management.dll" />
    </Component>

    <!-- System.CodeDom.dll -->
    <Component Id="SystemCodeDomDll" Directory="INSTALLFOLDER" Guid="A1B2C3D4-4444-4444-4444-444444444444">
      <File Id="SystemCodeDom" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\System.CodeDom.dll" />
    </Component>

    <!-- System.ServiceProcess.ServiceController.dll -->
    <Component Id="SystemServiceProcessDll" Directory="INSTALLFOLDER" Guid="A1B2C3D4-5555-5555-5555-555555555555">
      <File Id="SystemServiceProcess" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\System.ServiceProcess.ServiceController.dll" />
    </Component>

    <!-- CacheCleaner.dll -->
    <Component Id="CacheCleanerDllComp" Directory="INSTALLFOLDER" Guid="A1B2C3D4-6666-6666-6666-666666666666">
      <File Id="CacheCleanerDll" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\CacheCleaner.dll" />
    </Component>

    <!-- WindowsUpdateManager.dll -->
    <Component Id="WindowsUpdateManagerDllComp" Directory="INSTALLFOLDER" Guid="A1B2C3D4-7777-7777-7777-777777777777">
      <File Id="WindowsUpdateManagerDll" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\WindowsUpdateManager.dll" />
    </Component>

    <!-- Assets - Favicon -->
    <Component Id="FaviconAsset" Directory="AssetsFolder" Guid="A1B2C3D4-8888-8888-8888-888888888888">
      <File Id="FaviconIco" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\Assets\favicon.ico" />
    </Component>

    <!-- Assets - Startup Sound -->
    <Component Id="StartupSoundAsset" Directory="AssetsFolder" Guid="A1B2C3D4-9999-9999-9999-999999999999">
      <File Id="StartupWav" 
            Source="..\WinKnightUI\bin\Release\net8.0-windows\Assets\startup.wav" />
    </Component>

    <!-- Utility - CacheCleaner.exe -->
    <Component Id="CacheCleanerTool" Directory="ToolsFolder" Guid="A1B2C3D4-AAAA-AAAA-AAAA-AAAAAAAAAAAA">
      <File Id="CacheCleanerExe" 
            Source="..\CacheCleaner\bin\Release\net8.0\CacheCleaner.exe" />
    </Component>

    <!-- Utility - WindowsUpdateManager.exe -->
    <Component Id="WindowsUpdateManagerTool" Directory="ToolsFolder" Guid="A1B2C3D4-BBBB-BBBB-BBBB-BBBBBBBBBBBB">
      <File Id="WindowsUpdateManagerExe" 
            Source="..\WindowsUpdateManager\bin\Release\net8.0\WindowsUpdateManager.exe" />
    </Component>

    <!-- Utility - SelfHeal.exe -->
    <Component Id="SelfHealTool" Directory="ToolsFolder" Guid="A1B2C3D4-CCCC-CCCC-CCCC-CCCCCCCCCCCC">
      <File Id="SelfHealExe" 
            Source="..\SelfHeal\bin\Release\net8.0-windows10.0.22000.0\SelfHeal.exe" />
    </Component>

    <!-- Uninstall shortcut -->
    <Component Id="UninstallShortcut" Directory="ApplicationProgramsFolder" Guid="A1B2C3D4-DDDD-DDDD-DDDD-DDDDDDDDDDDD">
      <Shortcut Id="UninstallProduct"
                Name="Uninstall WinKnight"
                Target="[SystemFolder]msiexec.exe"
                Arguments="/x [ProductCode]" />
      <RegistryValue Root="HKCU" 
                     Key="Software\YourCompany\WinKnight" 
                     Name="Installed" 
                     Type="integer" 
                     Value="1" 
                     KeyPath="yes"/>
    </Component>

    <!-- Feature definition -->
    <Feature Id="Complete" Level="1">
      <ComponentRef Id="MainExe" />
      <ComponentRef Id="MainDll" />
      <ComponentRef Id="SystemManagementDll" />
      <ComponentRef Id="SystemCodeDomDll" />
      <ComponentRef Id="SystemServiceProcessDll" />
      <ComponentRef Id="CacheCleanerDllComp" />
      <ComponentRef Id="WindowsUpdateManagerDllComp" />
      <ComponentRef Id="FaviconAsset" />
      <ComponentRef Id="StartupSoundAsset" />
      <ComponentRef Id="CacheCleanerTool" />
      <ComponentRef Id="WindowsUpdateManagerTool" />
      <ComponentRef Id="SelfHealTool" />
      <ComponentRef Id="UninstallShortcut" />
    </Feature>

  </Package>
</Wix>